main{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.caja1,.caja2,.caja3{
    width: 600px;
    margin-bottom: 1em;
    border: 1px solid black;
    animation-name: example;
    animation-duration: 1s;
    
}

.caja1{
    animation-delay: 1s;
}

.caja2{
    animation-delay: 2s;
}

.caja3{
    animation-delay: 3s;
}




/* @keyframes example{
    0%{
      
        transform: translateX(100%);


       
    }
    100%{
        
        transform: translateX(0%);
    }
    

} */